.bandPageContainer{
    overflow:hidden;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.bandPageGrid{
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 equal-width columns */
  grid-template-rows: auto;              /* Let rows size based on content */
  gap: 1rem; 

}


.bandTextDescription{
  width: 50vw;
  padding: 20px;
}

.bandTextDescription h1{
  color: white;
  text-align: center;
}

.bandTextDescription p{
  color: white;
  text-align: left;
  font-size:25px
}