
  
  .grid-container {
    display: grid;
    background-color: black;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
    grid-template-areas: 
    "IssueModule LatestContentAndVolumes "
    "IssueModule LatestContentAndVolumes ";
    grid-template-columns: 1fr 2fr; /* Adjust column proportions dynamically */
    grid-template-rows: auto auto; /* Automatically size rows based on content */
    gap: 60px; /* Add spacing between grid items */
    width: 60vw; /* Full container width */
    height:82vh;
    min-height: 750px;
    max-width: 100vw;
    min-width: 950px;
    
  }

  .Recordings{
    grid-area: Recordings;


  }
  .landing-container {
    display: flex;
    justify-content: top; /* Centers the grid horizontally */
    align-items: center; /* Centers the grid vertically */
    background-color: black;
    flex-direction: column;
  }

  .h4{
    font-size: 40px;
    color: azure;
  }

  .header {
    grid-area: header;
  }

  

  .footer{
    grid-area: footer;
  }
  .IssueModule {
    grid-area: IssueModule;

  }

  .HomepageTitle{
    grid-area: HomepageTitle;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .latest-line {
    width: 100px; /* Controls line length */
    border: 1px solid rgb(197, 0, 0); /* Line thickness and color */
    margin-top: 5px; /* Space between the text and the line */
  }

  .LatestContentAndVolumes
  {
    display:flex;
    flex-direction: column;
    grid-area: LatestContentAndVolumes;
  }

  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 900px) {
    .grid-container {
      display: grid;
        grid-template-areas: 
            "header"
            "LatestContentAndVolumes"
            "IssueModule"
            "Recordings";
            grid-template-columns: 1fr !important; /* Force single column */
            /* Single column layout */
        grid-template-rows: auto auto auto auto; /* Automatically size rows */
        justify-content: center;
          padding: 1em;
          height: 3000px;
          min-width: 300px;
        
        }
        

        
        
        .LatestArticle {
          grid-area: LatestArticle;
        }
        
        .header {
          grid-area: header;
    }


    .IssueModule {
        grid-area: IssueModule;
        width: 100%; /* Take up full width */
    }

    .LatestVolume {
        grid-area: "LatestVolume";
          width: 100%;
          /* Take up full width */
        }
        
        .LatestContentAndVolumes {
          width: 90vw;

        }
        }