
  
  .grid-container {
    display: grid;
    background-color: black;
    color: white;
    padding: 20px;
    grid-template-areas: 
    "IssueModule LatestVolume LatestVolume"
    "IssueModule LatestVolume LatestVolume"
    "footer footer footer";
    grid-template-columns: 2fr 1fr; /* Adjust column proportions dynamically */
    grid-template-rows: auto auto; /* Automatically size rows based on content */
    gap: 4px; /* Add spacing between grid items */
    width: 1000px; /* Full container width */
    
  }
  .main-container {
    display: flex;
    justify-content: center; /* Centers the grid horizontally */
    align-items: center; /* Centers the grid vertically */
    background-color: black;
    flex-direction: column;
  }

  .h4{
    font-size: 40px;
    color: azure;
  }

  .header {
    grid-area: header;
  }

  

  .footer{
    grid-area: footer;
  }
  .TopAuthors {
    grid-area: TopAuthors;
    
  }
  .IssueModule {
    grid-area: IssueModule;

  }

  .HomepageTitle{
    grid-area: HomepageTitle;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  .latest-line {
    width: 100px; /* Controls line length */
    border: 1px solid rgb(197, 0, 0); /* Line thickness and color */
    margin-top: 5px; /* Space between the text and the line */
  }

  .LatestVolume
  {
    grid-area: LatestVolume;
  }

  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @media (max-width: 768px) {
    .grid-container {
      display: grid;
        grid-template-areas: 
            "header"
            "LatestArticle"
            "IssueModule"
            "LatestVolume"
            "footer";
            grid-template-columns: 1fr !important; /* Force single column */
            /* Single column layout */
        grid-template-rows: auto auto auto auto; /* Automatically size rows */
        justify-content: center;
        padding: 1em;

    }

    .LatestArticle {
        grid-area: LatestArticle;
    }
    .header {
        grid-area: header;
    }


    .IssueModule {
        grid-area: IssueModule;
        width: 100%; /* Take up full width */
    }

    .LatestVolume {
        grid-area: "LatestVolume";
        width: 100%; /* Take up full width */
    }
}