@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../components/Images/The-Sensationalist-8.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.register-container {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 10px;
  padding: 30px 40px;
}

.register-container h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 36px;
  text-align: center;
  padding-bottom: 5px;
}

.register-container .item {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  
}

.item .input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  color: #ffffff;
  box-sizing: border-box;
  padding-left: 15px; /* Space for text */
  padding-right: 45px; /* Space for icon */
}

.register-container .inputs::placeholder {
  color: #ffffff;
}

.register-container i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;;
}

.register-container .register-button {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #000000;
  font-weight: 600;
  font-family: "Libre Baskerville", serif;
  box-sizing: border-box;
}

.register-container .register-button:hover {
  box-shadow: 0 4px 12px rgba(188, 149, 149, 0.9);
  transform: scale(1.02); /* Slight lift effect on hover */
}

.register-container .register-button:active {
  transform: scale(0.98); /* Slight shrink effect on click */
}

.register-container .login {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.login p {
  font-family: "Libre Baskerville", serif;
  padding-top: 10px;
}

.login p a {
  color: #ffffff;
  font-family: "Libre Baskerville", serif;
  text-decoration: none;
  font-weight: 600;
}

.login p a:hover {
  text-decoration: underline;
}

.login p a:active {
  text-decoration: underline;
  font-size: 13px;
}