.AnarchyArchive {
    display: grid;
    align-items: left;
    justify-content: left;
    background-color: black;
    color: white; /* White text */
    padding: 20px;
    max-width: 30%;  /* Keep it responsive */
  
  }