.NavHeaderContainer {
  position: sticky;
  top: 0;
  overflow: hidden;
  min-width: 95vw;
  max-width: 100vw;


}

.LogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.NavHeader {
  display: grid;
  align-items: center;
  background-color: black;
  color: white;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "logo nav-links Media-Logos";
  position: sticky;
  top: 0;

}

.logo {
  height: 90px;
  width: auto;
  grid-area: logo;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Media-Logos {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 10px;
  grid-area: Media-Logos;
  padding-left: 20px;
  padding-right: 20px;

}

.InstaLogo,
.EmailLogo,
.YoutubeLogo {
  height: 50px;
  width: auto;
}

.auth-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.auth-links a:hover {
  color: lightgray;
}

nav {
  grid-area: nav-links;
}

nav > ul {
  display: flex;
}

nav ul li {
  display: block;
}

nav ul li a {
  color: white;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  min-width: 80px;
  width: 8vw;
  text-align: center;
  padding: 10px;
}