/*Styles all of the containers on the page basically*/
.author-bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
  
}
/* Styles the authors profile picture*/
.author-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
  border: 3px solid red;
}
/* The all the headigns on the page*/
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.author-bio-descriptions{
  color : white
}

/*Author bio paragraph text*/
p {
  font-size: 1.2rem; 
  margin-bottom: 2rem;
  font-family: 'Arial', sans-serif; 
}
/* Styles all the h2 headings*/
h2 {
  font-size: 1.8rem;
  color: red;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

/* Stles the article description preview*/
li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Syles the article description preview*/
a {
  text-decoration: none;
  transition: color 0.3s;
}


/* the cards for the article previews*/

/*when you hover over one of the article item previews*/
.article-item:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-5px);
}



.article-content-preview {
  display: flex;
  align-items: center;
  
}
/* Styles the img for the contribution previews*/
.article-image {
  border-radius: 12px; 
  border: 2px solid black; 
  width: 100px; 
  height: 100px; 
  object-fit: cover; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  transition: transform 0.3s ease; 
}


.article-details {
  flex: 1;
}

.article-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}



