@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

.latest-content-container {
    font-family: "Libre Baskerville", serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.4rem;
    text-align: center;

}

.overlay-text {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.44); /* Semi-transparent black */
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}

.latest-content-cover-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center; /* Keeps the zoom centered */
    border-radius: 6px;
}

.image-overlay-container:hover .latest-content-cover-image {
    transform: scale(1.01); /* Zooms in while staying in place */
}

.image-overlay-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Prevents the zoomed image from overflowing */
    width: 100%; /* Ensures container matches the image size */
    height: 400px;
}
@media (max-width: 900px) {
    .overlay-text {

        top: 40%;
        width:60vw;
        min-width: 350px;
        max-height: 150px;
        font-size: 20px;


    }

    .image-overlay-container {
   
    height: 300px;
}
}