.recordingSection {
    width: 100vw;
    height: 100vh; /* Takes up half the screen height */
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.video-background {
    width: 100vw;
    height: 120%;
    object-fit: fill; /* Stretches video to fill the container */
}