@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap');

.volume-button {
  display: flex;
  flex-direction: column;
  border-radius: 2px;


}
.volume-bottom-text{
  background-color: whitesmoke;
  color: black;
}

.volume-bottom-text h3{
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  color: inherit; /* Keeps text the same color as normal text */
  display: block; /* Ensures the entire div is clickable */
}

.volume-bottom-text p{
  text-align: center;
  text-decoration: none !important;
}

.volume-button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px); /* Slight lift effect on hover */
}

.volume-cover-button:active {
  transform: scale(0.98); /* Slight shrink effect on click */    
}


.volume-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:12px;
}

.volume-cover-image {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  aspect-ratio: 5 / 4; /* Ensures a 4:5 aspect ratio */
  
}



@media (max-width: 768px) {
  .volume-cover-image {
    height: 100%;
    border-radius: 5px;
    align-items: center;
  }
}